/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

//  Colors
$primary: #002D5A;
$secondary: #01969B;
$tertiary: #DE7800;
$gray: #808080;
$lightGray: #DEDEDE;
$offwhite: #F5F5F5;
$white: #fff;
$black: #000;
$dark: #4b4b4b;

// Font Families
// Add new families here
$lato: "lato",sans-serif;
$overpass: 'Overpass', sans-serif;
$montserrat: 'montserrat', sans-serif;
$chaparralPro: 'Chaparral-Pro', serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Set Box Shadows
$box_shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
$box-shadow--white: 0 0 5px 3px rgba(255, 255, 255, .35);
