/*------------------------------------------------------------------------------
  BIO
------------------------------------------------------------------------------*/
.bio {
  margin-bottom: rem(100);

  h3 {
    font-weight: $regular;
    margin-top: 0;
  }

  &__row--background {
    background-image: linear-gradient(to right, white 0%, white 30%, transparent 30%),linear-gradient(to bottom, rgba(0,181,174,0.9) 0%, rgba(4,57,97,0.9) 100%),url(../img/brad-neathery-nPy0X4xew60-unsplash.jpg);
    background-position: center center, center center;
    background-size: 100%, cover;
    background-repeat: repeat, no-repeat;

    .bio__bio-image {
      margin: auto;
      max-width: none;
      padding: 2em 0;
      text-align: right;
      z-index: 9997 !important;

      img {
        box-shadow: 0 0 15px rgba(0,0,0,0.45);
        position: relative;
        max-width: 100%;
        width: 400px;
        height: auto;
        left: 50px;
      }
    }
  }

  .bio__description {
    align-self: center;
    padding: 100px;
    padding-left: 150px;
    margin: auto;

    h4 {
      font-family: $montserrat;
      font-weight: $light;
      color: $white;
      position: relative;
      margin: 0;
    }

    .bio__content {
      max-width: 1091px;

      p {
        color: $white;
        margin: 20px 0 30px;
      }

      .button {
        margin: rem(30) 0;
      }
    }
  }
}

// Media Queries
@media screen and (max-width:$medium-breakpoint) {
  .bio {
    &__row--background {
      background-image: linear-gradient(to bottom, rgba(0,181,174,0.9) 0%, rgba(4,57,97,0.9) 100%),url(../img/brad-neathery-nPy0X4xew60-unsplash.jpg);
    }
  }
}

@media screen and (max-width:$small-breakpoint) {
  .bio {
    &__row--background {
      max-width: 100%;

      .bio__bio-image {
        text-align: center;
        img {
          margin-top: 40px;
          left: unset;
          width: 60%;
        }
      }
    }

    .bio__description {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 75px;

      .bio__content {
        max-width: 100%;
      }
    }
  }
}
