/*------------------------------------------------------------------------------
  50/50 with Background
------------------------------------------------------------------------------*/
.fifty-fifty-background {
  margin-top: rem(50);
  overflow: hidden;

//colors
  .default {
      padding: rem(100) 0;
      background: linear-gradient(to bottom, rgba(0,181,174,0.9) 0%, rgba(4,57,97,0.9) 100%) !important;
    }
  .pink {
    padding: rem(100) 0;
    background: linear-gradient(to bottom, rgba(255,131,0,0.9) 0%, rgba(255,77,180,0.9) 100%) !important;
    }
  .green {
      padding: rem(100) 0;
      background: linear-gradient(to bottom, rgba(89,116,34,0.9) 0%, rgba(193,229,103,0.9) 100%);
    }
//end colors

  &.background {
    padding-top: rem(150);
  }

  h2 {
    padding: 0;
    font-weight: $regular;
    margin-top: 0;
  }

  .button {
    margin-top: rem(25);
    margin-bottom: rem(50);
  }

  ul {
    text-align: left;
  }

  p {
    color: $white;
  }

  &--img {
    padding: 0;

    img {
      display: block;
    }
  }
}

// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .fifty-fifty-background {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: rem(50);

    &.background {
      padding-top: rem(75);
    }

    p {
      padding-top: rem(10);
    }

    .col-5 {
      margin-top: rem(30);
    }
  }
}

@media screen and (max-width:$medium-breakpoint) {
  .fifty-fifty-background {
    padding: 0;
    margin-bottom: rem(50);

    p {
      padding-top: rem(30);
    }

    &--img {
      padding: rem(75) 0 0;

      img {
        display: block;
      }
    }

    .fifty-fifty-background--content {
      order: 2;
    }

    .row--reverse {
      order: 1;
    }

    .button {
      margin-top: rem(40);
      margin-bottom: rem(50);
    }
  }
}

//Recent Work Page
.page-id-359 {
  .fifty-fifty-background {
    margin-top: 0 !important;
    overflow: hidden;

    &.background {
      padding-top: auto;
    }
  }

  @media screen and (max-width:$medium-breakpoint) {
    .fifty-fifty-background {
    margin-bottom: 0 !important;

    .default {
        padding: rem(50) 0;
      }
    .pink {
      padding: rem(50) 0;
      }
    .green {
        padding: rem(50) 0;
      }
  }
  }
}

// ie11 Fixes
.ie-11 {
  .fifty-fifty-background .row .col-6, .fifty-fifty .row .col-5 {
    max-height: 450px;
  }
}
