/*------------------------------------------------------------------------------
  Hero
------------------------------------------------------------------------------*/
.hero {
  position: relative;
  padding: rem(70) 0;
  overflow: hidden;
  display:inline-block;

  h1 {
    color: $white;
    text-align: center;
    padding: 80px 0;
    font-size: 42px;
  }

  h2 {
    font-size: 26px;
    font-family: $montserrat;
    color: $white;
  }

  &__row__content {
    top: 40px;
  }

}


@media screen and (max-width: $medium-breakpoint) {
  .hero {

  }
}

@media screen and (max-width: $small-breakpoint) {
  .hero {
  }
}
