/*------------------------------------------------------------------------------
  3 Col
------------------------------------------------------------------------------*/
.three-col {
  margin-bottom: rem(100);
  padding: 0 rem(75);

  h2 {
    font-weight: $regular;
    margin-top: 0;
  }

  h3 {
    font-weight: $regular;
    font-size: 30px;
    margin-top: 0;
  }

  .col-centered__grid-box {
    display: flex;
    padding: 0 rem(15);

    .col-wrap {
      box-shadow: 0 0 15px rgba(0,0,0,0.15);
      border-radius: 10px;
      padding: 30px;
      margin: rem(20) 0;

      img {
        margin-bottom: 30px;
        max-width: 100%;
        width: 100px;
        max-height: 100%;
        height: 100px;
      }
    }
  }

  .button {
    margin-top: rem(30);
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .three-col {
    padding: 0;
    margin-bottom: rem(50);
  }
}

@media screen and (max-width: $small-breakpoint) {
  .three-col {
    padding: 0;
    margin-bottom: rem(50);
  }
}
