/*----------------------------------------------------------------------------
  Buttons
----------------------------------------------------------------------------*/
.button {
  position: relative;
  //min-width: rem(210);
  top: 0;
  display: inline-block;
  margin: 0 auto;
  padding: rem(10) rem(20);
  border-radius: rem(5);
  text-align: center;
  line-height: rem(25);
  font-size: rem(18);
  font-weight: $light;
  text-transform: uppercase;
  transition: all 0.2s ease !important;


  &--primary {
    color: $white;
    background: linear-gradient( rgba(54, 158, 164, 100%), rgba( 65, 186, 182, 100% ));

    &:hover {
      color: $white !important;
          background: linear-gradient( rgba( 65, 186, 182, 100% ), rgba(54, 158, 164, 100%));
    }
  }

  &--secondary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }

  &--white {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 10px;

    &:hover {
      color: #41bab6;
      background-color: $white;
    }
  }

    &--outline {
      color: #B2E743;
      background-color: transparent;
      border: 2px solid #B2E743;
      border-radius: 10px;

      &:hover {
        color: $primary;
        background-color: #B2E743;
    }
  }
}
