/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

.footer {
  background: $primary;
  color: $white;

  .footer__logo-wrap {
    a {
      img {
        max-width: 80%;
      margin: 10px;
      }
    }
  }

  .footer-nav {
    ul {
      padding: 0;
      list-style: none;
      display: flex;

      li {
        font-size: 16px;
        font-family: $montserrat;
        padding: 0 10px;
        margin: 0;

        a {
          color: $white;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }

  &--copyright {
    background: $primary;

    h6 {
      font-size: 16px;
      color: $white;
      font-weight: $light;
      margin: rem(20);

    }
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .footer {
    text-align: center !important;

    .footer__logo-wrap {
      a {
        img {
          max-width: 80%;
        }
      }
    }

    .footer-nav {
      &--copyright {
        h6 {
        text-align: center !important;
       }
      }
    }
  }
}

@media screen and (max-width: $small-breakpoint) {

}
