/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/
.navbar-fixed-top {
  &.scrolled {
    background-color: $primary !important;
    opacity: 0.9;
    transition: background-color 400ms linear;
  }
}

.header {
  background: $primary;
  background-color: transparent;
  color: $white;
  z-index: 9998;
  position: fixed;

  &__logo-wrap {
    a {
      display: flex;

      img {
        max-width: 150px;
        margin: rem(15);
      }
    }
  }

  .header-search {
    color: $white;
    margin-right: 20px;
  }

  &__navigation-wrap {
    justify-content: flex-start;

    .primary-nav {
      display: inline-flex;

      ul {
        position: relative;
        top: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          height: rem(33);
          padding-right: rem(32);
          margin: 0;
          font-family: $montserrat;
          font-weight: $light;
          color: $white;

          a {
            margin: 0;
            padding-bottom: 32px;
            color: $white;
            transition: all 0.2s ease;

            &:after {
              content: '';
              display: block;
              bottom: -3px;
              position: relative;
              width: 0;
              height: 3px;
              background: $white;
              transition: width .3s;
            }

            &:hover:after {
              width: 100%;
            }
          }

          &:hover {
            .sub-menu {
              display: flex;
            }
          }
        }
      }

      .current-menu-item {
        position: relative;
        top: -3px;

        a {
          color: $white;

          &:before {
            content: '';
            display: block;
            position: relative;
            top: rem(33);
            width: 100%;
            height: 3px;
            background: $white;
            transition: width .3s;
          }

          &:hover:before {
            width: 0;
          }

          &:after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $white;
            transition: width .3s;
          }

          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }

  &__search-bar {
    display: none;
    position: absolute;
    // Adjust height of top based on height of header bar *********************************************
    top: 91px;
    padding: rem(10) 0;
    background: $primary;
    z-index: 99999;

    > .row {
      margin: auto;
    }

    &__column {
      display: flex;
    }

    .search-form {
      width: calc(100% - 40px) !important;
      max-width: none !important;
      position: relative;

      label {
        width: calc(100% - 40px);

        .search-field {
          width: 100%;
          border-radius: 5px;
          border: 1px solid grey;
          padding: 5px 35px 5px 10px;
          font-size: rem(16);
        }
      }
    }

    .search-submit {
      background: no-repeat;
      border: none;
      position: absolute;
      top: 4px;
      right: 0;
      color: $primary;
    }

    &--close {
      position: relative;
      right: -12.8px;
      top: 5px;
      color: mix(white, $primary, 40%);
      opacity: 0.6;
      transition: all 0.2s ease;
      cursor: pointer;

      svg {
        top: -5px;
        position: relative;
        width: rem(30) !important;
        height: rem(30);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
