/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

// Links
a {
  text-decoration: none;

  &:hover {

  }
}

// Headers
h1 {
  font-size: 76px;
  font-family: $montserrat;
  color: $primary;
}
h2 {
  font-size: 66px;
  font-family: $montserrat;
  color: $primary;
}
h3 {
  font-size: 56px;
  font-family: $montserrat;
  color: $primary;
}
h4 {
  font-size: 46px;
  font-family: $montserrat;
  color: $primary;
}
h5 {
  font-size: 36px;
  font-family: $montserrat;
  color: $primary;
}
h6 {
  font-size: 26px;
  font-family: $montserrat;
  color: $primary;
}

// Body Copy
p, ul, ol, li {
  margin-bottom: 15px;
  font-size: 22px;
  font-family: $chaparralPro;
  color: $gray;
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
}
